include layout.jade
  
nav.pushy.pushy-right
  pushy-content
    ul 
      li
        button.menu-btn.rgt
          i(aria-hidden="true").class.fa.fa-times
      if (user==null)
        li.pushy-link
          a(href="/login") Вход
        li.pushy-link
          a(href="#") Регистрация
      else
        li.pushy-link
          a(href="/perarea") #{user}
        li.pushy-link
          a(href="/logout") Выйти
      li.pushy-link
        a(href="/about_us") О нас
      li.pushy-link
        a(href="/courses") Курсы
      li.pushy-link
          a(href="/price") Цены
      li.pushy-link
        a(href="/shedule") Расписание
      li.pushy-link
        a(href="/gallery") Галерея
      li.pushy-link
        a(href="/contacts") Контакты
      
button.menu-btn.hidden-lg.hidden-md.m-btn
  i(aria-hidden="true").class.fa.fa-bars
.container
  .logo
    .row
      .col-md-3.col-xs-4
      .col-md-6.col-xs-4
        a(href="/")
          p
            span W
            | 'Studio
      .col-md-3.col-xs-4
        //contacts-login block
        .cl_block.hidden-xs.hidden-sm
          p.telephone 
            i(aria-hidden="true").fa.fa-mobile
            span.sel  +7 (903) 000-00-00
          if(user==null)      
            p.log_reg
              a(href="/login")Вход
              a(href="/registration")Регистрация
          else
            p.log_reg
              a(href="/perarea") #{user}
              a(href="/logout") Выйти
  .underlogo
    .col-md-3.col-xs-4
    .col-md-6.col-xs-4
      .row
        p Школа стилистов
    .col-md-4.col-xs-4

.container-fluid.top_menu.hidden-xs.hidden-sm
  .container
    .row
      .col-md-12
          nav.hd_buttons
              ul
                a(href="/about_us")
                  li О нас
                a(href="/courses") 
                  //wst = width sixteen
                  li.wst Курсы
                a(href="/price") 
                  li Цены
                a(href="/shedule") 
                  li Расписание
                a(href="/gallery") 
                  li Галерея
                a(href="/contacts") 
                  li Контакты


.container.medium_devices.hidden-xs.hidden-sm.reg_width
  .carousel
    .row
      .col-md-12
        .owl-carousel.owl-theme
          .slide
            .onslide
              .info.header
                p Зарегистрируйся и получи бесплатный урок
              .info.text
                p Видео-урок от ведущих преподавателей школы
              a(href="#").button.block_center
                p Заказать!
            img(src="public/img/car_example.png", alt="")
          .slide
            .onslide
              .info.header
                p Зарегистрируйся и получи бесплатный урок
              .info.text
                p Видео-урок от ведущих преподавателей школы
              a(href="#").button.block_center
                p Заказать!
            img(src="public/img/car_example.png", alt="")

.container-fluid.hidden-lg.hidden-md.small_devices
  .carousel
    .row
      .col-md-12
        .owl-carousel.owl-theme
          .slide
            .onslide
              .info.header
                p Зарегистрируйся и получи бесплатный урок
              .info.text
                p Видео-урок от ведущих преподавателей школы
              a(href="#").button.block_center
                p Заказать!
            img(src="public/img/car_example.png", alt="")
          .slide
            .onslide
              .info.header
                p Зарегистрируйся и получи бесплатный урок
              .info.text
                p Видео-урок от ведущих преподавателей школы
              a(href="#").button.block_center
                p Заказать!
            img(src="public/img/car_example.png", alt="")

- var i = 0
.container
  .albums
    .row
      .header.col-md-12
        p Альбомы
    .row
      //.album_form.col-md-3
        .album_img
          img(src="public/img/example.png" alt="")
        .album_name
          p name#1
      while i < count
        form(method = "POST" action = "/gallery")
          input(type="text" value="#{list.english[i]}" name="album_name").danone
          .album_form.col-md-3
            .album_img
              img(src="public/img/main/#{i}" alt="")
            .album_name
              input(type="submit" value="#{list.russian[i]}").dibl.noDec
        - i= i+1

      //while i < count
        .album_form.col-md-3.col-sm-3.col-xs-3.col-lg-3
          .album_img
            img(src="public/img/main/#{i}" alt="")
          .album_name
            p #{list.russian[i]}
        - i= i+1
      

      

include ./footer.jade

include ./layout_ft.jade
