extends layout
block content
  h1 Registration
  br
  if (user != undefined)
    h1 You are logged in as #{user}
  else
    form(
        action='/registration'
        method='post')
        p Login
        input(
          type='text'
          name='regist[login]')
        if (used == true)
          p(class = usedLogin) LOGIN IS USED
        if (invalid == true)
          p(class = usedLogin) INVALID REGISTRATION LOGIN OR PASSWORD
        p Password
        input(
          type='password'
          name='regist[password]')
        input(
          type='submit')
  a(href='/') На главную