.emerg_content
  include ./../../../layout.jade

  include ./../../../top_menu.jade
  - if(is_admin)
    - var k = 0, i = 0
    .container-fluid
      .albums.no_top
        .row
          .header.col-md-12
            p Альбомы
        .row
          .sopka
            while i < count
              .itemSortable(id="#{i}")
                form(method="POST" action="/albumschange").albumschange_form
                  input(type="text" value="#{list.english[i]}" name="album_name" disabled="disabled").danone
                  .album_form.col-md-3
                      .album_img
                        img(src="public/img/main/#{i}.#{encoding[i].main_enc}" alt="")
                      .album_name
                        input(type="submit" value="#{list.russian[i]}").dibl
                        button.delbut
                          i.fa.fa-trash(aria-hidden="true")
                - i= i+1
          - var sobaka = JSON.stringify(list);
          .container
            .row
              .col-md-3
              .col-md-3
              .col-md-6.download
                .mainHeader Добавление альбома
                //form(action="/albumschange", method="post")
                form.adder
                  input(type="text" required placeholder="Название альбома" name="new_album_ru" pattern="[А-Яа-яЁё]{2,15}").col-md-12.new_album_ru
                  input(type="text" required placeholder="Album name" name="new_album_en" pattern="[A-Za-z]{2,15}").col-md-12.new_album_en
                  input(type="text" value="#{sobaka}" name="chiposa").danone
                  input(type="file" name="main").albumCo
                  button(type = "submit") NERVNIY TIK
  - else
    .container
      .row
        .col-md-12.all_center_block
          p Вы не залогинены.

include ./../../../footer.jade


include ./../../../layout_ft.jade